<script type="text/javascript">

  window.currentUserAccessToken = <%=@current_user_access_token%>;
  window.MICROSOFT_OPTIONS = {
    primary: '<%=ENV["MICROSOFT_PRIMARY_KEY"]%>',
    secondary: '<%=ENV["MICROSOFT_SECONDARY_KEY"]%>'
  };
  window.SOUNDCLOUD_OPTIONS = {
    clientId: '<%=ENV["SOUNDCLOUD_CLIENT_ID"]%>',
    clientSecret: '<%=ENV["SOUNDCLOUD_CLIENT_SECRET"]%>'
  };
</script>

<div id="content"></div>
