<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,200italic,100italic,300italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
SC.initialize({
  client_id: window.SOUNDCLOUD_OPTIONS.clientId,
  redirect_uri: '<%= callback_url %>'
});

// initiate auth popup
SC.connect().then(function() {
  return SC.get('/');
}).then(function(me) {
  alert('Hello, ' + me.username);
});
</script>
</body>
</html>
